@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }

  ::selection {
    @apply bg-accent/30 text-white;
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full hover:bg-zinc-600;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  .gpu-accelerate {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
    will-change: transform, opacity;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* View Transitions */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  will-change: clip-path;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}
